*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#0c0c0c;
  color:white;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  text-align:center;
}

.btn{
  background:#2f66ff;
  color:white;
  padding:16px 30px;
  font-size:18px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  transition:0.2s;
  font-weight:600;
}

.btn:hover{
  opacity:0.9;
  transform:scale(1.05);
}
